:root {
  --accent: #D0A668;
  --light: #F5F5F5;
  --dark: #4D5054;
  --light-accent: #F0F0F0;
  --dark-blue: #222C3A;
  --main-color: rgb(100, 153, 217);
  --secondary-color: rgb(126, 115, 115);
}

body {
  overflow-y: scroll !important;
}

.main-container {
  margin-top: 5vh;
  padding-left: 150px;
  padding-right: 150px;
}

.headshot-img {
  border-radius: 50%;
  /* height: 40vh; */
  width: 20vw;
  border: var(--light-accent) 3px solid;
  margin-top: 100px;
}

.img-header {
  background-color: var(--dark);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-img {
  background-image: url('/assets/roomies.jpg');
  height: 150px;
  width: 300px;
  filter: brightness(50%);
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
  .project-img:hover {
    filter: brightness(100%);
    transition: 1s all;
  }
  .project-img:not(:hover) {
    filter: brightness(50%);
    transition: 1s all;
  }

.project-h4 {
  color: white;
}

.p-col {
  min-width: 50vw;
}

.p-img-col {
  max-width: 20vw;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.fact-card {
  background-color: var(--light-accent);
  border: 0.25px black solid;
  border-radius: 5px;
  text-align: center; 
  width: 20vw;
  margin: 10px;
}

.fa {
  font-size: 40px !important;
  padding: 15px;
}

.movie {
  padding-top: 15px;
}

.sibling {
  padding-top: 15px;
}

.code {
  padding-top: 15px;
}

.bottom-row {
  margin-bottom: 55px !important;
}

h3 {
  text-align: center;
}