body {
  overflow-y: auto;
}

.navbar {
  width: 100%;
  min-height: 67.5px;
}

footer {
  width: 100%;
  position: relative;
  bottom: 0;
}

.mainContainer {
  overflow-y: auto;
  min-height: calc(100vh - 67.5px - 92px);
  margin: 5vh 0;
}

.faviconFooter {
  width: 50px;
  height: 50px;
  margin: 5px;
  justify-content: space-evenly;
  align-self: flex-start;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.containerForm {
  margin-left: 20%;
  margin-right: 20%;
  border-radius: 5px;
  background-color: rgba(128, 128, 128, 0.568);
  padding: 20px;
  font-weight: 400;
  color: aliceblue;
}
