:root {
  --accent: #D0A668;
  --light: #EDEDE3;
  --dark: #4D5054;
  --dark-green: #E4DCD5;
  --dark-blue: #222C3A;
  --main-color: rgb(100, 153, 217);
  --secondary-color: rgb(114, 103, 103);
 }
 
 body {
   font-family: Arial, Helvetica, sans-serif;
   overflow: hidden !important;
   background-color: var(--light);
 }
 
 .home-img {
   width: 100%;
   height: 100vh;
 }
 
 .nav-home-container {
   position: absolute;
   top: 0;
   width: 100%;
 }
 
 .name-container {
   position: relative;
   width: 50vw;
   z-index: 999;
 }
 
 .name-div {
   font-weight: 600;
   font-size: 35px;
   margin-left: 2vw;
 }
 
 .name-a {
   text-decoration: none;
   color: white;
 }
   .name-a:hover{
     color: white;
   }
 
 .nav-a-ex {
   text-decoration: none;
   color: black;
   font-size: large;
   font-weight: 600;
 }
   .nav-a-ex:hover {
     color: var(--accent);
     transition: 0.5s all;
   }
   .nav-a-ex:not(:hover) {
     color: black;
     transition: 0.5s;
   }
 
 .name-a-ex {
   text-decoration: none;
   color: black;
 }
   .name-a-ex:hover{
     color: black;
   }
 
 .subtitle {
   color: var(--accent);
   margin-left: 2.1vw;
   cursor: default;
 }
 
 .nav-ul {
   list-style: none;
   margin-top: 1.5vh;
   margin-right: 2vw;
   text-align: right;
 }
 
 li {
   display: inline;
   padding: 2vw;
 }
 
 .nav-a {
   text-decoration: none;
   color: white;
   font-size: large;
   font-weight: 600;
 }
   .nav-a:hover {
     color: var(--dark-green);
     transition: 0.5s all;
   }
   .nav-a:not(:hover) {
     color: white;
     transition: 0.5s;
   }
 
 .favicon {
   height: 5vh;
 }
 
 .top-section {
   background-color: var(--accent);
   width: 100%;
   /* height: 19vh; */
   color: white;
   font-size: large;
   text-align: center;
   opacity: 70%;
   position: absolute;
   bottom: 0;
 }
 
 .first-text {
   padding-top: 10px;
   font-size: 1.5rem;
   opacity: 75%;
 }
 
 /* BUTTON CSS */
 
 .button {
   display: inline-flex;
   height: 50px;
   width: 175px;
   border: 2px solid #BFC0C0;
   margin: 20px 20px 20px 20px;
   color: #BFC0C0;
   font-size: .9em;
   font-weight: 600;
   letter-spacing: 1.25px;
   align-items: center;
   justify-content: center;
   overflow: hidden;
   opacity: 75%;
 }
 
 #button-2 {
   position: relative;
   overflow: hidden;
   cursor: pointer;
 }
 
 #button-2 a {
   position: relative;
   text-decoration: none;
   color: white;
   transition: all .35s ease-Out;
 }
 
 #slide {
   width: 100%;
   height: 100%;
   left: -200px;
   background: #BFC0C0;
   position: absolute;
   transition: all .35s ease-Out;
   bottom: 0;
 }
 
 #button-2:hover #slide {
   left: 0;
 }
 
 #button-2:hover a {
   color: var(--dark-blue);
 }
 
 /* END OF BUTTON */
 
 
 /* SOCIAL ICONS */
 
 .social {
   position: fixed;
   top: 20vh;
   left: 15px;
 }
 .social ul {
   padding: 0px;
   transform: translate(-270px, 0);
 }
 .social ul li {
   display: block;
   margin: 5px;
   background: var(--accent);
   width: 300px;
   text-align: right;
   padding: 10px;
   border-radius: 0 30px 30px 0;
   transition: all 1s;
 }
 .social a {
   text-decoration: none;
   color: var(--dark);
 }
 .social ul li:hover {
   transform: translate(100px, 0);
   background: rgba(255, 255, 255, 0.4);
 }
 .social ul li:hover i {
   color: #fff;
   background: var(--dark);
   transform: rotate(360deg);
   transition: all 1s;
 }
 .social ul li i {
   margin-left: 10px;
   color: #000;
   background: #fff;
   padding: 10px;
   border-radius: 50%;
   width: 40px;
   height: 40px;
   font-size: 20px;
   background: #ffffff;
   transform: rotate(0deg);
 }
 
 /* END OF SOCIAL ICONS*/